<html ng-app="applist">
        <head >
                <link rel="stylesheet" href="css/bootstrap.min.css">
                <link rel="stylesheet" href="css/customecss.css">
                <style>
                    .sample-show-hide {
                        transition: all linear 0.5s;
                    }
                
                </style>
                
        </head>
        <body>       
            <div ui-view>
                <div ng-controller="userController">
                    <div ng-repeat="user in users.data">
                        <heading-list ng-class="sample-show-hide">
                            <list-users user="user"></list-users>
                        </heading-list>
                    </div>
                        
                    <div class="panel panel-footer">
                        <button class="btn btn-primary">Add</button>
                        <button class="btn btn-danger">Remove</button>
                    </div>
            </div>
                </div>
            <!-- Angular js  -->
            <script src="scripts/vendors/angular/angular.js"></script>
            <script src="scripts/app.module.js"></script>
            <script src="scripts/applist.module.js"></script>
            <script src="scripts/bootstrap.min.js"></script>
            <script src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
            <script src="controllers/userController.js"></script>
            <script src="services/userservice.js"></script>
            <script src="services/getusers.js"></script>    
        </body>
</html>